# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm / IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# VS Code (if ever used)
.vscode/